@{
    ViewBag.Title = "Main Section";
}

<div class="jumbotron">
    <h2>Order</h2>
    <h2>LEHUYTAI</h2>

</div>

<div class="row">
    <div class="col-md-4">
        <h2> Products availible for order</h2>
        <h3>
            @Html.ActionLink("Products", "Index", "Products")
        </h3>
       
    </div>
    <div class="col-md-4">
       
        <h2>Create your CID</h2>
        <h3>
            @Html.ActionLink("Customers", "Create", "Customers")
        </h3>
     
    </div>
    <div class="col-md-4">
        
        <h2>Create your Request in Here</h2>
        <h3>
            @Html.ActionLink("Request", "Create", "RequestStatus")
        </h3>
    </div>
</div>